/*

Exercise Notes:

Use Flex-wrap, flex-direction, and flex to control how the header spaces and sizes.  A good minimum for flex might be 320px;
 */


.exerciseFooter, .exerciseMain {
    margin: 0 10px 10px 10px;
}

.exerciseHeader {
display: flex;

}

.exerciseHeaderLogo {
    width: 200px;
    height: 80px;
}


.exerciseHeaderNav ul {
display: flex;
flex-wrap: wrap;
list-style-type: none;
flex-direction: row;
gap: 10px;
}

.exerciseHeaderNav ul {

}

.exerciseHeaderNav ul li {
    min-width: 150px;
    flex:1;


}


.exerciseMainContent {

}


.exerciseAdditionalFeatures {
    display: flex;
    gap:10px;
}

.exerciseAdditionalFeatures .exerciseMarketingFeature {

    width: 33%;
}

.exerciseAdditionalFeatures .exerciseMarketingFeature:first-child {

}