/* Nav */

body {
margin: 0;
}

.top-nav-logo {
background-color: #32b64c;
height: 40px;
display: grid;
grid-template-rows: 40px;
grid-template-columns: 120px;
}

.trulia-logo {
min-width: 5px;
max-width: 80px;
min-height: 10px;
margin: 10px 20px;
}

.left-nav-items {
background-color: #32b64c;
display: grid;
grid-template-rows: 40px; 
grid-template-columns: 50px 60px 60px 100px;
list-style-type:none;
color:white;
gap:5px;
}

/* sub-nav */

.sub-nav{
height:60px;
background-color: white;
display: grid;
grid-template-rows: 60px 15px;
grid-template-columns: 290px 920px;
}

.sub-nav h1{
font-size:14px;
padding-top: 20px;
padding-left: 20px;
font-family: 'Source Sans Pro', sans-serif;
}

.sub-nav p {
font-size:14px;
padding-top: 17.5px;
padding-right:15px;
font-family: 'Source Sans Pro', sans-serif;
}

/* Grid */

.trulia-grid {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-gap: 15px;
background-color: #e3e4e6;
padding: 15px;
}

.trulia-grid-item { 
background-color: white;
border-radius: 15px;
display: flex;
flex-direction: column;
height: 260px;
}

.trulia-house-image {
background-size: cover;
background-position: center center;
width: 100%;
height: 160px;
position: relative;
border-top-right-radius: 5px;
border-top-left-radius: 5px;
}

.trulia-house-facts {
display: flex;
justify-content: flex-start;
flex-direction: column;
align-items: flex-start;
padding-left: 10px;
margin: 0px;
}

.trulia-house-image-1 {
background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-1.jpg);
}

.trulia-house-price {
align-items: center;
display: flex;
justify-content: space-around;
}

.trulia-house-price > * {
height:10px;
margin: 0px;
padding: 5px 0px 10px 0px;
font-size: 16px;
}

.trulia-house-address {
color: #787d81;
font-style:normal;
}

.arrow-svg {
display:block;
height: 15px;
margin: 0px 10px;
padding: 5px 0px 0px 0px;
width: 15px;
}
  
.trulia-house-facts ul {
padding: 0px;
margin: 0px;
}
  
.trulia-house-facts li {
list-style: none;
padding-bottom: 2px;
}
  
.trulia-house-facts p {
padding: 0px;
}
  
.trulia-house-stats ul {
display: flex;
flex-direction: row;
align-items: center;
gap: 4px;
}
  
.trulia-house-stats li {
align-items: center;
display: flex;
flex-direction: row;
padding-right: 10px;
}
  
.trulia-house-stats ul {
padding-right: 10px;
}
    
.trulia-article-icon {
height: 15px;
padding-right: 3px;
}

.trulia-house-image-2 {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-2.jpg);
}

.trulia-house-image-3 {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-3.jpg);
}

.trulia-house-image-4 {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-4.jpg);
}

.trulia-house-image-5 {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-5.jpg);
}

.trulia-house-image-6 {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-6.jpg);
}

.trulia-house-image-7 {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-7.jpg);
}

.trulia-house-image-8 {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-8.jpg);
}

.trulia-house-image-9 {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-09.jpg);
}

.trulia-house-image-10 {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-10.jpg);
}

.trulia-house-image-11 {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-11.jpg);
}

.trulia-house-image-12 {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-12.jpg);
}

/* pagination results and breadcrumb */

.results-pagination {
background-color: white;
display:grid;
grid-template-rows: 40px 40px 30px;
grid-template-columns: 1fr;
gap:5px;
}

.pagination {
align-items: center;
background-color: white;
display: grid;
grid-template-columns: 30px 30px 30px 30px;
gap:1px;
list-style-type:none;
color: #20c063;
justify-self: center; 
font-size: 14px;
font-family: 'Source Sans Pro', sans-serif;
padding-top:15px;
}

.page-results{
background-color: white;
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 10px;
list-style-type:none;
color: #787d81;
justify-self: center;
font-size: 14px;
font-family: 'Source Sans Pro', sans-serif;
align-items: center;
padding-left:20px;
padding-top:20px;
}

.page-breadcrumb {
background-color: white;
display: flex;
flex-direction: row;
padding: 0px;
list-style-type:none;
justify-self: center;
font-size: 14px;
font-family: 'Source Sans Pro', sans-serif;
align-items: center;
gap: 5px;
padding-bottom: 20px;
}

.real-estate-insights h2 {
  font-weight: 600;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5em;
}
.real-estate-insights {
  align-items: flex-start;
  background-color: white;
  display: flex;
  min-height: 220px;
  flex-direction: column;
  justify-content: center;
  padding: 30px 0px 30px 30px;
  width: 90%;
  font-family: 'Source Sans Pro', sans-serif;
  font-size:14px;
}

.trulia-site-footer {
  background-color: #474E52;
  color: #b1b6bb;
  margin:0;
  padding:10px;
}

.footer-links {
  padding: 20px 0px 0px 30px;
}

.footer-links a,
.footer-links a:visited {
  color:white;
}

.footer-links {
  list-style: none;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0px 10px;
  gap:10px;
}

.copyright {
  font-size: 10px;
  font-weight: normal;
  margin: 0px 10px;
  text-align:center;
}

/* didn't realized you can just to catch all like this till the end when I looked at the solution code so adding these at the bottom */

a {
  text-decoration: none;
  color: #3a8e52;
}

html {
  color: #222;
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
}
