
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.body {
margin:0;
}


.merriweather { font-family: 'Merriweather', serif; }
      .oswald { font-family: 'Oswald', sans-serif; }
        .lato { font-family: 'Lato', sans-serif; }

.main-header {
  display: flex;
  background-color: black;
  border-bottom: 5px solid #f2ff00;
  justify-content: space-between;
  margin:0;
  padding:16px 30px;
  align-items: center;
} 
.main-header h1{
  font-size: 32px;
  color:#f2ff00;
  text-transform: capitalize;
  font-family: 'Merriweather', serif;
}

.main-nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  gap: 15px;
  margin:0;
  padding:0;
}

.main-nav-major {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  color: white;
}

.main-nav-minor {
  color: white;
  padding-top:3px;
}

.sub-nav{
  background-color: #adadad;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.sub-nav p {
  font-size: 28px;
  margin: 0;
  line-height: 1.5;
  padding: 15px 0;
}

.strikeout {
  text-decoration: line-through;
}

.underline {
  border-bottom: 3px solid #f2ff00;
}

.hero {
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/coworking.jpg') center center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: 'Lato', sans-serif;
  min-height: 580px;
}

.hero h2 {
  font-weight: bold;
}

.box {
  background-color: rgba(255,255,255,0.9);
  margin: 25px 25px 25px 0;
  padding: 25px;
  width: 380px;
  height: 230px;    
  padding: 4%;
  box-shadow: 0 0 5px rgba(0,0,0,.75);
}

.box p {
  font-size: 18px;
  line-height: 1.5;
  padding: 15px 0;
}

.big-cta {
  background-color: #f2ff00;
  border-bottom: 2px solid #ffd900;
  border-radius: 5px;
  color: #000;
  display: block;
  font-size: 24px;
  padding: 6px 30px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}

.sub-hero {
display:flex; 
justify-content: center;  
}

.sub-hero-block-1{
  border-right: 1px solid lightgray;
  display: flex;
  margin: 8px 0;
  padding: 2%; 
  display:flex;
  align-items: left;
  flex-direction: column;
  justify-content: center;
}

.sub-hero-block-2 {
  border-right: 1px solid lightgray;
  display: flex;
  margin: 8px 0;
  padding: 2%; 
  display:flex;
  align-items: left;
  flex-direction: column;
  justify-content: center;
  }
/* Oliver: How can I make 3 blcoks all visually consistent? currently, block 3 CTA is a bit off the cebter*/
.sub-hero-block-3 {
  Display: flex;
  margin: 8px 0;
  padding: 2%; 
  display:flex;
  align-items: left;
  flex-direction: column;
  justify-content: center;
}

.block-cta {
  border-radius: 5px;
  color: #000;
  display: block;
  font-size: 24px;
  padding: 5px 30px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Oswald', 'sans-serif';
  background-color: #adadad ;
  border-bottom: #878787 2px solid;
  margin-top: 10px;
}

.sub-hero h1 {
  font-family: 'Merriweather', serif;
  font-size: 24px;
  margin:0;
}

.sub-hero p{
  font-size: 18px;
    padding: 10px 0;
  font-family: 'Lato', 'sans-serif';
}

.site-footer {
  background-color: #000;
  color: #fff;
  padding: 15px 25px;
  font-family: 'Lato', sans-serif;
}



/* Colors */
/* Dark yellow: #f2ff00 */
/* Lighter yellow: #ffd900 */
/* Light gray: #adadad */
/* Medium gray: #878787 */

/* Background Image */
/* https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/coworking.jpg */