
.hero-area{
  background-image: url("../images/annie-spratt-3TPCsHZp0OY-unsplash.jpeg");
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

}

.hero-area h1 {
font-family: 'Abel';
font-style: normal;
font-weight: 550;
font-size: 56px;
line-height: 80px;
text-align: center;
letter-spacing: 0.1em;
color:white;
}


.site-footer {
  position:fixed;
  width: 100%;
  height: 60px;
  bottom:0;
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  background: rgba(181, 181, 181, 0.5);
  Display:flex;
  justify-content: right;
  gap:10px;
  align-items: center;  
  list-style: none;
}

.site-footer li{
  padding-right:30px;
}