.submitCTA {
display:flex;
justify-content: right;
font-family: 'Abel';
font-style: normal;
padding: 5%;
}

p{
  padding-top:8px; 
}

body {
padding-bottom: 60px;
}

.col{
display:flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
font-family: 'Abel';
font-style: normal;
font-weight: 500;
font-size: 28px;
}

.row {
padding-left: 20px;
padding-right: 20px;
}

.emoji {
  font-weight: 200;
  font-size: 150px;
  padding:0;
}

.CTA {
display:flex;
justify-content:right;
padding: 2%;
font-family: 'Abel';
font-style: normal;
}


h1{
text-align: center;
padding-top: 2%;
padding-bottom: 2%;
font-family: 'Abel';
font-style: normal;
font-weight: 10;
font-size: 64px;
line-height: 82px;
letter-spacing: 0.1em;
}



.site-footer {
  position:fixed;
  width: 100%;
  height: 50px;
  bottom:0;
  margin-top: auto;
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  background: rgba(181, 181, 181, 0.5);
  Display:flex;
  justify-content: right;
  gap:10px;
  align-items: center;  
  list-style: none;
}

.site-footer li{
  padding-right:30px;
}