
.centerDesc {
margin-left: 100px;
}

body {
  padding-bottom: 60px;
}

.slidecontainer{
  padding-left: 5%;
  padding-right: 5%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 500px;  
  background: black;
  outline: none;
  opacity: 0.9;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%; 
  background: gray;
  cursor: pointer;
  
}

.slider::-moz-range-thumb {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.slidedesc {
display:flex;
list-style: none;
font-family: 'Abel';
font-style: normal;
justify-content:space-between;
font-weight: 400;
font-size: 26px;
padding-top:5%;
padding-bottom: 5%;

} 

.slidedesc .li{
gap:10px; 
}


.CTA {
display:flex;
justify-content:space-between;
padding: 2%;
font-family: 'Abel';
font-style: normal;
font-weight: 400;
font-size: 22px;
}

.heroImage{
margin-top: 5%;
margin-bottom: 7%;
padding-left: 5%;
padding-right: 5%;  
border-radius: 10px;


}

h1{
  text-align: center;
  color:white;
  padding-top: 5%;
  padding-bottom: 5%;
  height: 200px;
  width: auto;
  font-family: 'Abel';
  font-style: normal;
  font-weight: 50;
  font-size: 54px;
  line-height: auto;
  letter-spacing: 0.1em;
  background-image: url("../images/savoring-time-1564196.jpeg");
  background-repeat: repeat;
  background-position: center;
  border-radius: 10px;
  background-size: cover;
 
  }
  

.site-footer {
  position:fixed;
  width: 100%;
  height: 50px;
  bottom:0;
  margin-top: auto; 
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  background: rgba(181, 181, 181, 0.5);
  Display:flex;
  justify-content: right;
  gap:10px;
  align-items: center;  
  list-style: none;
}

.site-footer li{
  padding-right:30px;
}

/* Responsive Design */
@media (max-width: 480px) {
h1{
Font-size: 26px;
padding-top:18%;
}  
.slidedesc {
font-size: 16px;
text-align: center;
}
.centerDesc {
margin-left: 30px;
}

}

@media (min-width: 480px) and (max-width:768px) {

h1{
Font-size: 32px;
padding-top:12%;
}  
.slidedesc {
font-size: 20px;
} 

.centerDesc {
margin-left: 55px;
}
}