
body {
  padding-bottom: 60px;
  }

.slidecontainer{
  padding-left: 5%;
  padding-right: 5%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: black;
  outline: none;
  opacity: 0.9;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%; 
  background: gray;
  cursor: pointer;
  
}

.slider::-moz-range-thumb {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.slidedesc {
display:flex;
list-style: none;
font-family: 'Abel';
font-style: normal;
justify-content:space-between;
font-weight: 400;
font-size: 26px;
padding-top:8%;
padding-bottom: 8%;

} 

.slidedesc .li{
gap:10px; 
}


.CTA {
display:flex;
justify-content:space-between;
padding: 2%;
font-family: 'Abel';
font-style: normal;
font-weight: 400;
font-size: 22px;
}


h1{
  text-align: center;
  padding-top: 10%;
  padding-bottom: 5%;
  font-family: 'Abel';
  font-style: normal;
  font-weight: 10;
  font-size: 64px;
  line-height: 82px;
  letter-spacing: 0.1em;
  }
  

.site-footer {
  position:fixed;
  width: 100%;
  height: 50px;
  bottom:0;
  margin-top: auto; 
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  background: rgba(181, 181, 181, 0.5);
  Display:flex;
  justify-content: right;
  gap:10px;
  align-items: center;  
  list-style: none;
}

.site-footer li{
  padding-right:30px;
}